* text eol=lf

/examples/* linguist-vendored

typescript/src/*.json linguist-generated -diff
typescript/src/parser.c linguist-generated -diff
typescript/src/tree_sitter/* linguist-generated -diff

tsx/src/*.json linguist-generated -diff
tsx/src/parser.c linguist-generated -diff
tsx/src/tree_sitter/* linguist-generated -diff

bindings/** linguist-generated
binding.gyp linguist-generated
setup.py linguist-generated
Makefile linguist-generated
Package.swift linguist-generated
